* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[data-theme="dark"] {
    --black: #141414;
    --grey: #2f363e;
    --hoursStroke: #ff2972;
    --minutesStroke: #fee800;
    --secondsStroke: #04fc43;
  }

body {
    min-height: 200vh;
    color: #fff;
    background-color: #131313;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
color: rgb(190, 190, 190);
text-decoration: none;
}
a:hover {
    transition: all .3s;
    color: #fff;
}

i {
    color: #fee800;
    font-size: 22px;
}

.logo {
    cursor: default;
    user-select:none;
    width: 240px;
    height: 100px;
    text-align: center;
    font-size: 42px;
    background-color: #fff;
    color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerheader  {
    max-width: 1440px;
    width: 86%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header {
height: 100px;
width: 100%;
background-color: #202020;

}
.navigation {
    align-items: center;
    list-style: none;
    gap: 40px;
    display: flex;
    font-size: 24px;
}

main {
    margin-top: 100px ;
    
}


.sectionTitle {
    margin-top: 30px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 32px;
}

.infoPar {
    font-size: 18px;
    width: 80%;
    margin-inline: auto;
}

footer {
    margin-top: auto;
    height: 150px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.sourseLink {
    color: #80c8f5;
    text-decoration:underline;
}

.hiddenContainer {   
    visibility: hidden;
    transition: all 1s;
}

.makeVisibleBtn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 28px;
    margin-block: auto;
    width: 400px;
    height: 160px;
    cursor: pointer;
}

.makeVisibleBtn:hover {
    color: rgb(190, 190, 190);
    transition: all .3s;
}
